
body{

    font-family: 'Roboto Condensed', sans-serif;
    
}
h1{
    font-size: 40px;
}

.blue-color{
    color: blue;
}


.flixiable{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 40%;
    margin: 70px 30px;
    padding-left: 150px;
   
}
.half-width img{
    width: 100%;
    margin-bottom: 100px;

}

.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 25px;
    color: white;
    font-weight: 700;
}

.why-unique{
    background-image: url(images/shapes/7.png);
}

.Our-recipies{
    text-align: center;
}

.Dal-soup{
    width: 100%
   
   
}

.khai-mori-ja{
    width: 100%;
    
}
.Be-karina{
    width: 100%;
}

.item{
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 40px;
    
}

.Text-fixed{
    text-align: center;
}

footer p{
    text-align: center;
    color: pink;
    font-size: 50 px;
}
footer{

    background-color: black;
    height: 200px;
    margin: 30px;
    border: 20px solid pink;
}